@font-face {
	font-family: "Jost";
	src: 
		url(/src/fonts/Jost-VariableFont_wght.ttf) format("truetype");
}

body {
	min-width: 320px;
	margin: 0;
	font-family: "Jost";
	line-height: 124%;
	h1 {
		margin: 0;
	}
	h2 {
		margin: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	p {
		margin: 0;
	}
}

.violet-bg-top {
	background: url("/src/img/topwave.svg") no-repeat;
	height: adaptiveSizePx(1100, 200);
	background-size: 100% 100%; // оптимизация для фаерфокса
	// object-fit: fill;
}

.frame {
	margin: 0 auto;
	padding: 4vh 2vw 0 2vw;
	max-width: 1590px;
}

.violet-bg-bot {
	background: url("/src/img/botwave.svg") no-repeat;
	background-size: 100% 100%; // оптимизация для фаерфокса
	// height: 522px;
	height: adaptiveSizePx(522, 430);
	// object-fit: fill;
}

@media (max-width: 909px) {
	// .frame {
	// 	padding: 4vh 2%;
	// }
	.violet-bg-top {
		// height: adaptiveSizePx(200, 1100);
		height: adaptiveSize320Px(200, 1100);
		// height: 1080px;
	}
	.violet-bg-bot {
		min-height: 630px;
	}
}