@font-face {
	font-family: "Jost";
	src: 
		url(/src/fonts/Jost-VariableFont_wght.ttf) format("truetype");
}

body {
	min-width: 320px;
	margin: 0;
	font-family: "Jost";
	line-height: 124%;
	display: flex;
	flex-direction: column;

	h1 {
		margin: 0;
	}
	h2 {
		margin: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	p {
		margin: 0;
	}
}

.violet-bg-top {
	background: url("/src/img/topwave.svg") no-repeat;
	height: adaptiveSizePx(1100, 200);
	background-size: 100% 100%; // оптимизация для фаерфокса
	padding-top: 3vh;
}

.frame {
	margin: 0 auto;
	// padding: 4vh 2vw 0 2vw;
	padding: 0 2vw;
	max-width: 1590px;
	height: 100%;
}

.violet-bg-bot {
	background: url("/src/img/botwave.svg") no-repeat;
	background-size: 100% 100%; // оптимизация для фаерфокса

	height: adaptiveSizePx(522, 430);
	margin-top: adaptiveSizePx(200, 150);
}



@media (max-width: 909px) {
	.frame {
		padding: 0 3vw;
		// padding: 4vh 3vw 0 3vw;
		// height: 100%;
	}
	.violet-bg-top {
		height: adaptiveSize320Px(200, 1100);
		min-height: 960px;
		transition-property: min-height;
		transition-duration: 0.1s;
	}
	.violet-bg-top--plus-height {
		min-height: calc(960px + 196px);
	}
	.violet-bg-bot {
		min-height: 630px;
		margin-top: 50px;
	}
}