.violet-bg-bot {
	background: url("/src/img/botwave.svg") no-repeat;
	height: 522px;
	object-fit: fill;
}

.footer {
	// height: 522px;
	color: $mtc;
	// display: flex;
	// flex-direction: column;
	// justify-content: space-evenly;
	// flex-wrap: wrap;
	margin-top: 160px;
	.footer__main {
		display: flex;
		justify-content: space-between;

		.footer__about {
			width: adaptiveSizePx(518, 200);
		}
	
		.footer__contacts {
			width: adaptiveSizePx(315, 210);
		}
	}
}

.footer__title {
	font-size: adaptiveSizePx(28, 22);
	line-height: 124%;
	margin-bottom: adaptiveSizePx(13, 1);
}
.footer__text {
	font-size: adaptiveSizePx(18, 14);
	line-height: 160%;
}
.footer__line {
	background: $mtc;
	margin-top: adaptiveSizePx(84, 57);
	width: 100%;
	height: 1px;
}

.footer__copyright {
	margin-top: adaptiveSizePx(48, 38);
	text-align: center;
	.footer_copyright-text {
		display: inline-block;
		font-size: adaptiveSizePx(20, 18);
	}
}

.social_footer {
	justify-content: start;
	gap: 10%;
}