.functional {
	margin-top: 2.5vw;
	// margin-top: 300px;
	// margin-top: adaptiveSizePx(100, 0);
	&__header-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	&__header {
		font-size: adaptiveSizePx(46, 26);
	}
	&__descr {
		color: $ttc;
		font-size: adaptiveSizePx(18, 12);
		width: adaptiveSizePx(424, 307);
		margin-top: 2.5vw;
		letter-spacing: 0.08em;
	}
	&__main {
		margin-top: adaptiveSizePx(100, 50);
		display: flex;
		justify-content: space-evenly;
		gap: 10px;
	}
	&__phone {
		width: adaptiveSizePx(437, 100);
		padding: 0 adaptiveSizePx(15, 1);
	}
}

.features {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 5px;
	// width: 100%;
	&__feature {
		display: flex;
		justify-content: flex-end;
		gap: adaptiveSizePx(25, 1);
		&--icon-reverse {
			flex-direction: row-reverse;
		}
	}
	
	&__descr {
		width: adaptiveSizePx(437, 1);
		height: adaptiveSizePx(437, 1);
		display: flex;
		flex-direction: column;
		max-height: 130px;
	}
	
	&__header {
		// text-align: right;
		font-size: adaptiveSizePx(22, 16);
		margin-top: adaptiveSizePx(3, 1);
		margin-bottom: adaptiveSizePx(11, 5);
		&--text-align {
			text-align: right;
		}
	}
	&__text {
		color: $ttc;
		// text-align: right;
		font-size: adaptiveSizePx(18, 12);
		&--text-align {
			text-align: right;
		}
	}
	&__icon {
		border-radius: 50%;
		width: adaptiveSizePx(90, 54);
		height: adaptiveSizePx(90, 54);
		background: linear-gradient($main2 0, $main1 50%);
		display: flex;
		justify-content: center;
		align-items: center;
		.paperclip {
			width: 45%;
		}
		.calendar {
			width: 42%;
		}
		.play {
			width: 75%;
		}
		.pencil {
			width: 40%;
		}
		.markonmap {
			width: 35%;
		}
		.chats {
			width: 55%;
		}
	}
}
// .feature-icon {
// 	border-radius: 50%;
// 	width: adaptiveSizePx(90, 54);
// 	height: adaptiveSizePx(90, 54);
// 	background: linear-gradient($main2 0, $main1 50%);
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }

// @media (min-width: 680px) and (max-width: 909px) {
// 	.functional {
// 		margin-top: adaptiveSize320Px(500, 1) !important;
// 	}
// }
@media (max-width: 909px) {
	.functional {
		margin-top: adaptiveSize320Px(90, -60);
		&__descr {
			width: adaptiveSize320Px(424, 307);
			margin-top: adaptiveSize320Px(26, 16);
		}
		&__main {
			margin-top: adaptiveSizePx(15, 8);
			flex-direction: column;
			// justify-content: center;
			align-items: center;
			
			// flex-wrap: wrap;
		}
		
		&__phone {
			width: adaptiveSizePx(437, 220);
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
	.features {
		gap: 30px;
		margin-top: adaptiveSize320Px(30, 20);
		&__feature {
			flex-direction: row-reverse;
		}

		&__descr {
			width: adaptiveSizePx(437, 200);
			height: adaptiveSizePx(437, 200);
			max-height: 84px;
		}

		&__header {
			margin-top: adaptiveSizePx(3, 1);
			margin-bottom: adaptiveSizePx(11, 1);
			&--text-align {
				text-align: left;
			}
		}
		
		&__text {
			&--text-align {
				text-align: left;
			}
		}
	}
}