.functional {
	margin-top: 2.5vw;
	// margin-top: 300px;
	// margin-top: adaptiveSizePx(100, 0);
	&__header-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	&__header {
		font-size: adaptiveSizePx(46, 26);
	}
	&__descr {
		color: $ttc;
		font-size: adaptiveSizePx(18, 12);
		width: adaptiveSizePx(424, 307);
		margin-top: 2.5vw;
		letter-spacing: 0.08em;
	}
	&__main {
		margin-top: adaptiveSizePx(100, 50);
		display: flex;
		justify-content: space-evenly;
		gap: 10px;
	}
	&__phone {
		width: adaptiveSizePx(437, 100);
	}
}

.features {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 5px;
	&__feature {
		display: flex;
		gap: 10px;		
		&_reverse {
			flex-direction: row-reverse;
		}
	}

	&__descr {
		width: adaptiveSizePx(437, 1);
		height: adaptiveSizePx(437, 1);
		max-height: 130px;
	}

	&__header {
		// text-align: right;
		font-size: adaptiveSizePx(22, 16);
		margin-top: adaptiveSizePx(3, 1);
		margin-bottom: adaptiveSizePx(11, 5);
		&_left-align {
			text-align: left;
		}
	}
	&__text {
		color: $ttc;
		// text-align: right;
		font-size: adaptiveSizePx(18, 12);
		&_left-align {
			text-align: left;
		}
	}
}
.feature-icon {
	border-radius: 50%;
	width: adaptiveSizePx(90, 54);
	height: adaptiveSizePx(90, 54);
	background: linear-gradient($main2 0, $main1 50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

// @media (min-width: 680px) and (max-width: 909px) {
// 	.functional {
// 		margin-top: adaptiveSize320Px(500, 1) !important;
// 	}
// }
@media (max-width: 909px) {
	.functional {
		margin-top: adaptiveSize320Px(100, 1);
		&__header-wrapper {
		}

		&__header {
		}

		&__descr {
		}

		&__main {
			margin-top: adaptiveSizePx(15, 8);
			flex-direction: column;
			// justify-content: center;
			align-items: center;

			// flex-wrap: wrap;
		}

		&__phone {
			width: adaptiveSizePx(437, 220);
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	.features {
		&__feature {
			flex-direction: row-reverse;
		}

		&__descr {
			width: adaptiveSizePx(437, 200);
			height: adaptiveSizePx(437, 200);
			max-height: 84px;
		}

		&__header {
			margin-top: adaptiveSizePx(3, 1);
			margin-bottom: adaptiveSizePx(11, 1);
			&_left-align {
				text-align: left;
			}
		}
		
		&__text {
			&_left-align {
				text-align: left;
			}
		}
	}
	.feature-icon {
	}

}