.header {
	display: flex;
	justify-content: space-between;
	color: $mtc;
	&__logo {
		vertical-align: middle;
		font-family: "Jost";
		font-weight: 400;
		font-size: adaptiveSizePx(36, 24);
		line-height: 124%;
	}

	&__buttons {
		min-width: 662px;
		display: flex;
		justify-content: space-between;
	}
}
.menu {
	display: flex;
	align-items: center;

	&__list {
		min-width: 526px;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		font-size: adaptiveSizePx(20, 16);
		line-height: 124%;
		border-bottom: 1px solid transparent;
	}
	&__item:hover {
		border-bottom: 1px solid $mtc;
	}
}
.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 107px;
	&__icon {
		border: 1px solid transparent;
		border-radius: 50%;
		&_small {
			width: 25px;
			height: 25px;
		}
	}
	&__icon:hover {
		border: 1px solid $mtc;
		ellipse {
			fill: $main2;
		}
		path {
			fill: $mtc;
		}
	}
}