.violet-bg-top {
	background-image: url("/src/img/topwave.svg");
	// @include adaptive-width(1750, 320);
	// background-size: calc(1920px - 370 * (100vw / 1920));
	// height: 60vw;
	height: adaptiveSizePx(1100, 200);
	background-repeat: no-repeat;
	object-fit: fill;
	// border: 2px red dotted;
}

.header {
	display: flex;
	justify-content: space-between;
	color: $mtc;
	.header__logo {
		vertical-align: middle;
		font-family: "Jost";
		font-weight: 400;
		// @include adaptive-font(36, 24);
		// font-size: calc(24px + 16 * (100vw / 1920));
		font-size: adaptiveSizePx(36, 24);
		line-height: 124%;
	}
	.header__buttons {
		min-width: 662px;
		display: flex;
		justify-content: space-between;
	}
}

.menu {
	display: flex;
	align-items: center;
	.menu__list {
		min-width: 526px;
		display: flex;
		justify-content: space-between;
		.menu__item {
			font-size: adaptiveSizePx(20, 16);
			line-height: 124%;
			border-bottom: 1px solid transparent;
		}
		.menu__item:hover {
			border-bottom: 1px solid $mtc;
		}
	}
}

.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// border: 1px solid white;
	min-width: 107px;
	.social__item {
		.social__link {
			.social__icon {				
				border: 1px solid transparent;
				border-radius: 50%;
			}
			.social__icon_small {
				width: 25px;
				height: 25px;
			}
			.social__icon:hover {
				border: 1px solid $mtc;
				ellipse {
					fill: #8754D9;
				}
				path {
					fill: $mtc;
				}
			}
		}
	}
}