.hint {
	position: fixed;
	top: 18%;
	z-index: 10;
	&__wrapper {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	&__btn {
		position: relative;
		background: none;
		padding: 0;
		border: 0;
		width: 50px;
		height: 50px;
	}
	
	&__icon {
		border-radius: 8px;
		background: #EDDBB1;
	}

	&__description {
		padding: 8px;
		background-color: #EDDBB1;
		border: 2px solid black;
		border-radius: 10px;
		width: 400px;
		position: absolute;
		left: -480px;
		&--active {
			left: 80px
		}
		transition-property: left;
		transition-duration: 0.2s;
	}
	&__list {
		margin-top: 10px;
		margin-left: 20px;
		list-style: square;
	}

	&__item {
		padding: 2px;
	}

	&__pointer {
		display: flex;
		gap: 10px;
		padding: 5px;
		background-color: #EDDBB1;
		border: 2px solid black;
		border-radius: 5px;
		font-size: 20px;
		font-weight: 700;

		position: fixed;
		left: 80px;
		transition-property: left;
		transition-duration: 0.2s;
		&--hidden {
			left: -480px;
		}
	}
	&__pointer-close {
		padding: 1px;
	}
}

@media (max-width: 909px) {
	.hint {
		&__wrapper {
			gap: 5px;
			align-items: start;
		}
		&__btn {
			width: 37px;
			height: 37px; 
			svg {
				width: 37px;
				height: 37px;
			}
		}
		&__description {
			left: -300px;
			max-width: 250px;
			&--active {
				left: 45px
			}
		}
		&__header {
			font-size: 16px;
		}
		&__item {
			padding: 1px;
			font-size: 14px;
		}
		&__pointer {
			max-width: 210px;
			left: 45px;
			gap: 5px;
			&--hidden {
				left: -300px;
			}
		}
		&__pointer-text {
			font-size: 14px;
		}
	}
}