.intro {
	display: flex;
	justify-content: space-evenly;
	color: $mtc;
	margin-top: adaptiveSizePx(50, 1);
	&__description {
		width: adaptiveSizePx(550, 335);
		padding-top: adaptiveSizePx(149, 1);
		display: flex;
		flex-direction: column;
	}
	&__header {
		font-family: "Jost";
		font-size: adaptiveSizePx(48, 28);
		font-weight: 700;
		line-height: 124%;
		font-style: normal;
	}
	&__text {
		margin-top: adaptiveSizePx(14, 1);
		font-size: adaptiveSizePx(20, 18);
	}
	&__buttons {
		margin-top: adaptiveSizePx(44, 1);
		width: adaptiveSizePx(420, 300);
		display: flex;
		justify-content: space-between;
	}
	&__img {
		width: adaptiveSizePx(646, 100);
	}
}
.store-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(50% - 10px);
	height: 53px;
	border-radius: 50px;
	background: transparent;
	border: 2px solid $mtc;
	color: $mtc;
	&__text {
		margin-left: adaptiveSizePx(5, 1);
		font-weight: 700;
	}
}
.store-button:hover {
	background: $mtc;
	color: $main1;
	.store-button__icon {
		fill:$main1;
	}
}