.intro {
	display: flex;
	justify-content: space-evenly;
	color: $mtc;
	// margin-top: adaptiveSizePx(50, 1);
	&__description {
		width: adaptiveSizePx(550, 307);
		margin-top: adaptiveSizePx(149, 37);
		display: flex;
		flex-direction: column;
	}
	&__header {
		font-family: "Jost";
		font-size: adaptiveSizePx(48, 28);		
		font-weight: 700;
		line-height: 124%;
		font-style: normal;
	}
	&__text {
		margin-top: adaptiveSizePx(14, 1);
		font-size: adaptiveSizePx(20, 18);
	}
	&__buttons {
		margin-top: adaptiveSizePx(44, 1);
		display: flex;
		gap: 21px;
	}
	&__img {
		width: adaptiveSizePx(646, 100);
	}
}
.store-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 53px;
	border-radius: 50px;
	background: transparent;
	border: 2px solid $mtc;
	color: $mtc;
	&__text {
		margin-left: adaptiveSizePx(5, 1);
		font-weight: 700;
	}
}
.store-button:hover {
	background: $mtc;
	color: $main1;
	.store-button__icon {
		fill:$main1;
	}
}

// -----------------------------------320px -> 909px-----------------------------------------------------------

@media (max-width: 909px) {
	.intro {
		flex-direction: column;
		align-items: center;
		&__description {
			margin-top: adaptiveSize320Px(149, 37);
			width: adaptiveSize320Px(550, 307);
			text-align: center;

		}
		&__header {
			font-size: adaptiveSize320Px(48, 28);
		}
		&__text {
			margin-top: 9px;
			font-size: adaptiveSize320Px(20, 18);
		}
		&__buttons {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 20px;
			gap: 16px;
		}
		&__two-phones {
			display: flex;
			justify-content: center;
			margin-top: 31px;
		}
		&__img {
			// width: calc(270px + (88 + 80 * 0.7) * ((100vw - 320px) / 1920));
			width: adaptiveSize320Px(358, 270);
		}
	}
}