@font-face {
  font-family: "Jost";
  src: url(/src/fonts/Jost-VariableFont_wght.ttf) format("truetype");
}
body {
  min-width: 320px;
  margin: 0;
  font-family: "Jost";
  line-height: 124%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body h1 {
  margin: 0;
}
body h2 {
  margin: 0;
}
body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body p {
  margin: 0;
}

.violet-bg-top {
  background: url("/src/img/topwave.svg") no-repeat;
  height: calc(200px + 900 * (100vw / 1920));
  background-size: 100% 100%;
  padding-top: 3vh;
}

.frame {
  margin: 0 auto;
  padding: 0 2vw;
  max-width: 1590px;
  height: 100%;
}

.violet-bg-bot {
  background: url("/src/img/botwave.svg") no-repeat;
  background-size: 100% 100%;
  height: calc(430px + 92 * (100vw / 1920));
  margin-top: calc(150px + 50 * (100vw / 1920));
}

@media (max-width: 909px) {
  .frame {
    padding: 0 3vw;
  }
  .violet-bg-top {
    height: calc(1100px + -1530 * ((100vw - 320px) / 1920));
    min-height: 960px;
    -webkit-transition-property: min-height;
    transition-property: min-height;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
  }
  .violet-bg-top--plus-height {
    min-height: 1156px;
  }
  .violet-bg-bot {
    min-height: 630px;
    margin-top: 50px;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.header__logo {
  vertical-align: middle;
  font-family: "Jost";
  font-weight: 400;
  font-size: calc(24px + 12 * (100vw / 1920));
  line-height: 124%;
}
.header__buttons {
  min-width: 662px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list {
  min-width: 526px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__item {
  font-size: calc(16px + 4 * (100vw / 1920));
  line-height: 124%;
  border-bottom: 1px solid transparent;
}
.menu__item a {
  text-decoration: none;
  color: white;
}
.menu__item a:visited {
  color: white;
}
.menu__item a:active {
  color: white;
}
.menu__item a:hover {
  border-bottom: 1px solid white;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 107px;
}
.social__icon {
  border: 1px solid transparent;
  border-radius: 50%;
}
.social__icon_small {
  width: 25px;
  height: 25px;
}
.social__icon:hover {
  border: 1px solid white;
}
.social__icon:hover ellipse {
  fill: #8754D9;
}
.social__icon:hover path {
  fill: white;
}

.burger {
  display: none;
}

@media (max-width: 909px) {
  .header__buttons .social {
    display: none;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__logo {
    width: 50%;
  }
  .header__buttons {
    min-width: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: 10px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 50%;
    height: 19px;
  }
  .burger__line {
    background-color: white;
    width: 28px;
    height: 3px;
  }
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .menu__list {
    min-width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__item {
    height: 0;
    opacity: 0;
    padding: 0;
    -webkit-transition-property: height, opacity, padding;
    transition-property: height, opacity, padding;
    -webkit-transition-duration: 0.5s, 0.1s, 0.1s;
            transition-duration: 0.5s, 0.1s, 0.1s;
    text-align: right;
  }
  .menu__item--active {
    height: auto !important;
    opacity: 100 !important;
    padding: 8px 0 !important;
  }
}
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  margin-top: calc(1px + 49 * (100vw / 1920));
}
.intro__description {
  width: calc(307px + 243 * (100vw / 1920));
  margin-top: calc(37px + 112 * (100vw / 1920));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro__header {
  font-family: "Jost";
  font-size: calc(28px + 20 * (100vw / 1920));
  font-weight: 700;
  line-height: 124%;
  font-style: normal;
}
.intro__text {
  margin-top: calc(1px + 13 * (100vw / 1920));
  font-size: calc(18px + 2 * (100vw / 1920));
}
.intro__buttons {
  margin-top: calc(1px + 43 * (100vw / 1920));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
}
.intro__img {
  width: calc(100px + 546 * (100vw / 1920));
}

.store-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  width: 200px;
  height: 53px;
  border-radius: 50px;
  background: transparent;
  border: 2px solid white;
  color: white;
}
.store-button__text {
  margin-left: calc(1px + 4 * (100vw / 1920));
  font-weight: 700;
}

.store-button:hover {
  background: white;
  color: #A658DB;
}
.store-button:hover .store-button__icon {
  fill: #A658DB;
}

@media (max-width: 909px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 22px;
  }
  .intro__description {
    margin-top: 0px;
    width: calc(307px + 413.1 * ((100vw - 320px) / 1920));
    text-align: center;
  }
  .intro__header {
    font-size: calc(28px + 34 * ((100vw - 320px) / 1920));
  }
  .intro__text {
    margin-top: 9px;
    font-size: calc(18px + 3.4 * ((100vw - 320px) / 1920));
  }
  .intro__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    gap: 16px;
  }
  .intro__two-phones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 31px;
    margin-bottom: 100px;
  }
  .intro__img {
    width: calc(270px + 149.6 * ((100vw - 320px) / 1920));
  }
}
.functional {
  margin-top: 2.5vw;
}
.functional__header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.functional__header {
  font-size: calc(26px + 20 * (100vw / 1920));
}
.functional__descr {
  color: #B0B0B0;
  font-size: calc(12px + 6 * (100vw / 1920));
  width: calc(307px + 117 * (100vw / 1920));
  margin-top: 2.5vw;
  letter-spacing: 0.08em;
}
.functional__main {
  margin-top: calc(50px + 50 * (100vw / 1920));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}
.functional__phone {
  width: calc(100px + 337 * (100vw / 1920));
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 5px;
}
.features__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.features__feature_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.features__icon {
  border-radius: 50%;
  width: calc(54px + 36 * (100vw / 1920));
  height: calc(54px + 36 * (100vw / 1920));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8754D9), color-stop(50%, #A658DB));
  background: linear-gradient(#8754D9 0, #A658DB 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__icon .paperclip {
  width: 45%;
}
.features__icon .calendar {
  width: 42%;
}
.features__icon .play {
  width: 75%;
}
.features__icon .pencil {
  width: 40%;
}
.features__icon .markonmap {
  width: 35%;
}
.features__icon .chats {
  width: 55%;
}
.features__descr {
  width: calc(1px + 436 * (100vw / 1920));
  height: calc(1px + 436 * (100vw / 1920));
  max-height: 130px;
}
.features__header {
  font-size: calc(16px + 6 * (100vw / 1920));
  margin-top: calc(1px + 2 * (100vw / 1920));
  margin-bottom: calc(5px + 6 * (100vw / 1920));
}
.features__header_left-align {
  text-align: left;
}
.features__text {
  color: #B0B0B0;
  font-size: calc(12px + 6 * (100vw / 1920));
}
.features__text_left-align {
  text-align: left;
}

@media (max-width: 909px) {
  .functional {
    margin-top: calc(-60px + 255 * ((100vw - 320px) / 1920));
  }
  .functional__main {
    margin-top: calc(8px + 7 * (100vw / 1920));
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .functional__phone {
    width: calc(220px + 217 * (100vw / 1920));
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .features {
    gap: 30px;
  }
  .features__feature {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .features__descr {
    width: calc(200px + 237 * (100vw / 1920));
    height: calc(200px + 237 * (100vw / 1920));
    max-height: 84px;
  }
  .features__header {
    margin-top: calc(1px + 2 * (100vw / 1920));
    margin-bottom: calc(1px + 10 * (100vw / 1920));
  }
  .features__header_left-align {
    text-align: left;
  }
  .features__text_left-align {
    text-align: left;
  }
}
.footer {
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 150px;
}
.footer__about {
  width: calc(200px + 318 * (100vw / 1920));
}
.footer__title {
  font-size: calc(21px + 7 * (100vw / 1920));
  line-height: 124%;
  margin-bottom: calc(1px + 12 * (100vw / 1920));
}
.footer__text {
  font-size: calc(13.5px + 4.5 * (100vw / 1920));
  line-height: 160%;
}
.footer__contacts {
  width: calc(210px + 105 * (100vw / 1920));
}
.footer__line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.footer__line {
  background: white;
  width: 100%;
  height: 1px;
}
.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__copyright-text {
  font-size: calc(18px + 2 * (100vw / 1920));
}

.social_footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10%;
}

@media (max-width: 909px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 170px;
    gap: 30px;
  }
  .footer__about {
    width: auto;
  }
  .footer__title {
    margin-bottom: calc(4.5px + 8.5 * (100vw / 1920));
  }
  .footer__text {
    max-width: 450px;
    line-height: 124%;
  }
  .footer__line {
    background: white;
    width: 100%;
    height: 1px;
  }
  .social_footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 2%;
  }
  .social__icon {
    width: 35px;
    height: 35px;
  }
}/*# sourceMappingURL=style.css.map */