@font-face {
  font-family: "Jost";
  src: url(/src/fonts/Jost-VariableFont_wght.ttf) format("truetype");
}
body {
  margin: 0;
  font-family: "Jost";
  line-height: 124%;
}
body h1 {
  margin: 0;
}
body h2 {
  margin: 0;
}
body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body p {
  margin: 0;
}

.violet-bg-top {
  background: url("/src/img/topwave.svg") no-repeat;
  height: calc(200px + 900 * (100vw / 1920));
  background-size: 100% 100%;
}

.frame {
  margin: 0 auto;
  padding: 4vh 2vw;
  max-width: 1590px;
}

.violet-bg-bot {
  background: url("/src/img/botwave.svg") no-repeat;
  background-size: 100% 100%;
  height: 522px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}
.header__logo {
  vertical-align: middle;
  font-family: "Jost";
  font-weight: 400;
  font-size: calc(24px + 12 * (100vw / 1920));
  line-height: 124%;
}
.header__buttons {
  min-width: 662px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list {
  min-width: 526px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__item {
  font-size: calc(16px + 4 * (100vw / 1920));
  line-height: 124%;
  border-bottom: 1px solid transparent;
}
.menu__item:hover {
  border-bottom: 1px solid white;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 107px;
}
.social__icon {
  border: 1px solid transparent;
  border-radius: 50%;
}
.social__icon_small {
  width: 25px;
  height: 25px;
}
.social__icon:hover {
  border: 1px solid white;
}
.social__icon:hover ellipse {
  fill: #8754D9;
}
.social__icon:hover path {
  fill: white;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  margin-top: calc(1px + 49 * (100vw / 1920));
}
.intro__description {
  width: calc(335px + 215 * (100vw / 1920));
  padding-top: calc(1px + 148 * (100vw / 1920));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro__header {
  font-family: "Jost";
  font-size: calc(28px + 20 * (100vw / 1920));
  font-weight: 700;
  line-height: 124%;
  font-style: normal;
}
.intro__text {
  margin-top: calc(1px + 13 * (100vw / 1920));
  font-size: calc(18px + 2 * (100vw / 1920));
}
.intro__buttons {
  margin-top: calc(1px + 43 * (100vw / 1920));
  width: calc(300px + 120 * (100vw / 1920));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__img {
  width: calc(100px + 546 * (100vw / 1920));
}

.store-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 10px);
  height: 53px;
  border-radius: 50px;
  background: transparent;
  border: 2px solid white;
  color: white;
}
.store-button__text {
  margin-left: calc(1px + 4 * (100vw / 1920));
  font-weight: 700;
}

.store-button:hover {
  background: white;
  color: #A658DB;
}
.store-button:hover .store-button__icon {
  fill: #A658DB;
}

.functional {
  margin-top: 2.5vw;
}
.functional__header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.functional__header {
  font-size: calc(36px + 10 * (100vw / 1920));
}
.functional__descr {
  color: #B0B0B0;
  font-size: calc(14px + 4 * (100vw / 1920));
  width: calc(335px + 89 * (100vw / 1920));
  margin-top: 2.5vw;
  letter-spacing: 0.08em;
}
.functional__main {
  margin-top: calc(50px + 50 * (100vw / 1920));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}
.functional__phone {
  width: calc(100px + 337 * (100vw / 1920));
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.features__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.features__feature_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.features__descr {
  width: calc(1px + 436 * (100vw / 1920));
  height: calc(1px + 436 * (100vw / 1920));
  max-height: 130px;
}
.features__header {
  text-align: right;
  font-size: calc(14px + 8 * (100vw / 1920));
  margin-top: calc(1px + 2 * (100vw / 1920));
  margin-bottom: calc(5px + 6 * (100vw / 1920));
}
.features__header_left-align {
  text-align: left;
}
.features__text {
  color: #B0B0B0;
  text-align: right;
  font-size: calc(12px + 6 * (100vw / 1920));
}
.features__text_left-align {
  text-align: left;
}

.feature-icon {
  border-radius: 50%;
  width: calc(60px + 30 * (100vw / 1920));
  height: calc(60px + 30 * (100vw / 1920));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8754D9), color-stop(50%, #A658DB));
  background: linear-gradient(#8754D9 0, #A658DB 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  color: white;
  margin-top: 150px;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__about {
  width: calc(200px + 318 * (100vw / 1920));
}
.footer__title {
  font-size: calc(22px + 6 * (100vw / 1920));
  line-height: 124%;
  margin-bottom: calc(1px + 12 * (100vw / 1920));
}
.footer__text {
  font-size: calc(14px + 4 * (100vw / 1920));
  line-height: 160%;
}
.footer__contacts {
  width: calc(210px + 105 * (100vw / 1920));
}
.footer__line {
  background: white;
  margin-top: calc(50px + 25 * (100vw / 1920));
  width: 100%;
  height: 1px;
}
.footer__copyright {
  margin-top: calc(30px + 8 * (100vw / 1920));
  text-align: center;
}
.footer__copyright-text {
  display: inline-block;
  font-size: calc(18px + 2 * (100vw / 1920));
}

.social_footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10%;
}/*# sourceMappingURL=style.css.map */